@import 'common-variables';

// ** 所有公共样式都要带上组件名前缀 **

// 全局的使用 border-box 模式
[class*=' your-component-'],
[class^='your-component-'] {
  box-sizing: border-box;
}

// 全局的样式
.your-component {
  &-overflow-hidden {
    overflow: hidden;
  }

  // 拉伸铺满背景样式
  &-background-full {
    background: 0 0/100% 100% no-repeat;
  }

  // 常用布局排版
  &-full {
    width: 100%;
    height: 100%;
  }

  &-full-width {
    width: 100%;
  }

  &-full-height {
    height: 100%;
  }

  // 常用文字排版
  &-text-left {
    text-align: left !important;
  }

  &-text-center {
    text-align: center !important;
  }

  &-text-right {
    text-align: right !important;
  }

  &-text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-text-ellipisis-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;  // 超过 2 行显示省略号
    overflow: hidden;
  }

  // 副级文本
  &-text-secondary {
    @extend .your-component-color-info;
    font-size: $--font-size-small;
  }

  // 颜色
  &-color-primary {
    color: $--color-primary;
  }
  &-color-info {
    color: $--color-info;
  }
  &-color-warning {
    color: $--color-warning;
  }
  &-color-success {
    color: $--color-success;
  }
  &-color-danger {
    color: $--color-danger;
  }

  // 常用列表排版
  &-list-unstyled {
    list-style-type: none;
    padding-left: 0;
  }

  // 滚动条默认样式定制
  &-scrollbar-default {
    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
    }
  }

  // flex 布局
  &-flex {
    display: flex;
  }

  &-flex-start {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  // 上下左右居中
  &-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // 上下居中，左右居左
  &-flex-center-vertical {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  // 上下居中，左右居右
  &-flex-center-vertical-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  // 左右居中，上下居上
  &-flex-center-horizontal {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  // 左右居中，上下居下
  &-flex-center-horizontal-end {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  // 左右拉开，上下居中
  &-flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // 换行
  &-flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  // 垂直布局
  &-flex-column {
    display: flex;
    flex-direction: column;
  }

  // 自动撑开
  &-flex-1,
  &-flex-spacer {
    flex-grow: 1;
  }

  // 不参与弹性布局
  &-flex-none {
    flex: none;
  }

  // 常用阴影效果
  // 浅色投影
  &-box-shadow-default {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }

  // 基础投影
  &-box-shadow-base {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  }

  // 过渡效果
  &-transition-default {
    transition: $transition-base;
  }

  // 常用 margin 距离
  // 基准单位 => base: 10px | medium: 20px | large: 30px
  // class => .margin-base = { margin: 10px } （medium | large 同理）
  // class => .padding-base = { padding: 10px } （medium | large 同理）
  // class => .margin-left-base = { margin-left: 10px } （medium | large 同理）
  // class => .padding-left-base = { padding-left: 10px } （medium | large 同理）
  @each $type in margin, padding {
    &-#{$type}-none {
      #{$type}: 0;
    }
    &-#{$type}-base {
      #{$type}: $spacing-base;
    }
    &-#{$type}-medium {
      #{$type}: $spacing-medium;
    }
    &-#{$type}-large {
      #{$type}: $spacing-large;
    }
    @each $direction in top, right, bottom, left {
      &-#{$type}-#{$direction}-none {
        #{$type}-#{$direction}: 0;
      }
      &-#{$type}-#{$direction}-base {
        #{$type}-#{$direction}: $spacing-base;
      }
      &-#{$type}-#{$direction}-medium {
        #{$type}-#{$direction}: $spacing-medium;
      }
      &-#{$type}-#{$direction}-large {
        #{$type}-#{$direction}: $spacing-large;
      }
    }
  }
}
